body {
  margin: 0;
  font-family: 'Tapestry', cursive;
  background-color: #71ccca;
  color: #001f3f;
}

a{
  text-decoration: none;
  color: #001f3f;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width: 1024px){
    .header-container{
      width: 90%;
    }
    .header-button{
      font-size: 18px;
    }
    .header-logo{
      font-size: 28px;
    }
}

@media only screen and (max-width: 512px){
  .header-container{
    width: 100%;
  }
  .header-button{
    font-size: 16px;
  }
  .header-logo{
    font-size: 24px;
  }
}
