.header-container{
    width : 50%;
    margin : auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 12px;
    flex: 1;
}

.header-logo{
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 500;
}

.header-logo i{
    display: flex;
    align-items: center;
    margin-left: 6px;
}

.header-button{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 6px;
    padding: 6px 8px;
}

.header-button i{
    margin: right;
}